apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: hello-world
  name: hello-world
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '8080'
    spec:
      containers:
      - image: 742886329884.dkr.ecr.us-east-2.amazonaws.com/ha-hello-world-hahelloworld43f5b324-ypjmfezegfgw:latest
        name: ha-hello-world
        resources: {}
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
        ports:
        - containerPort: 8080

